colorama==0.4.6
exceptiongroup==1.1.1
genicam==1.2.0
harvesters==1.4.0
iniconfig==2.0.0
numpy==1.24.3
opencv-python-headless==4.7.0.72
packaging==23.1
pluggy==1.0.0
plyfile==0.9
pytest==7.3.1
toml==0.10.2
tomli==2.0.1
yapf==0.33.0
matplotlib
pyinstaller
setuptools==68.2.2